
image:
  registry: k3d-stream-platform-registry:5000
  name: services/ingest
  tag: latest

service:
  type: LoadBalancer
#   port: 8089

  # 'http://{{ template "ingest.fullname" . }}.default.svc.cluster.local:8089/api/consumer/whip'

turn:
  url:
    name: "TURN_URL"
    value: "turn:udp-gateway.default.svc.cluster.local:3478"
  user:
    name: "TURN_USER"
    value: "user-1"
  password:
    name: "TURN_PASSWORD"
    value: "pass-1"

deployment:
  http:
    port: 8089
    protocol: TCP
  webrtc:
    port: 34788
    protocol: UDP

tests:
  webrtcClient:
    image:
      registry: k3d-stream-platform-registry:5000
      name: services/ingest/webrtc-client
      tag: latest
    whipEndpoint:
      name: WHIP_ENDPOINT

