# ---
# apiVersion: networking.istio.io/v1alpha3
# kind: Gateway
# metadata:
#   name: myuser12345-gateway
# spec:
#   selector:
#     istio: gateway # use istio default controller
#   servers:
#   - port:
#       number: 80
#       name: http
#       protocol: HTTP
#     hosts:
#     - "devv.localhost"
# ---
# apiVersion: networking.istio.io/v1alpha3
# kind: VirtualService
# metadata:
#   name: myuser12345
# spec:
#   hosts:
#   - "devv.localhost"
#   gateways:
#   - myuser12345-gateway
#   http:
#   - route:
#     - destination:
#         host: myuser12345
#         port:
#           number: 8089
# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: myuser12345
#   labels:
#     app: myuser12345
#     service: myuser12345
# spec:
#   clusterIP: None
#   ports:
#   - port: 8089
#     name: ingest-http
#   selector:
#     app: myuser12345
# ---
