apiVersion: v1
kind: Service
metadata:
  name: {{ template "ingest.fullname" . }}
  labels:
    app: {{ template "ingest.name" . }}
    chart: {{ template "ingest.chart" . }}
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.deployment.http.port }}
      protocol: {{ .Values.deployment.http.portocol }}
      name: http
    - port: {{ .Values.deployment.webrtc.port }}
      protocol: {{ .Values.deployment.webrtc.portocol }}
      targetPort: 8443
      name: webrtc
  selector:
    app: {{ template "ingest.name" . }}

